body {
    font-family: Inria Sans;
}


#hero-section {
    background: url(./assets/hero.png);
    background-size: cover;
}

.flex {
    display: flex;
}

.header-container {
    margin-top: 20px;
    margin-bottom: 0;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px 0;
}

.dashboard a {
    display: flex;
    width: 120px;
    min-width: 50px;
    justify-content: space-between;
    color: black;
    text-decoration: none;
    font-size: 1.3em;
}

#hamburger {
    height: 45px;
    width: 45px;
    min-width: 45px;
    padding: 0 20px;
    margin: 0 25px 0 ;
}

#title {
    font-size: 45px;
    padding: 0 20px;
    font-family: Convergence;
    
}

.main-container {
    
}

.home-page {
    margin: 10px auto 0;
    padding: 10px 0;;
    background-image: url(assets/hero.png);
    background-size: cover;
    width: 97%;
    height: 850px;
    border-radius: 35px;
}

.block {
    display: block;
}

#star a {
    position: absolute;
    right: 55px;
    top: 100px;
    margin: 20px 0;
    background-color: rgba(230,230,250,0.8);
    color: rgb(0, 0, 0);
    padding: 20px 35px;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.4rem;
    border-radius: 100px;
    cursor: pointer;
}

#star a:hover {
    background-color: rgb(255, 255, 255);
    
}



#get-started a {
    position: absolute;
    left: 180px;
    top: 525px;
    font-size: 1.9em;
    background-color: rgb(230,230,250);
    color: rgb(0, 0, 0);
    padding: 20px 38px;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
}

#get-started a:hover {
    background-color: rgba(230,230,250,0.4);
    box-shadow: 0 0 10px 0 rgba(0,0,0);
}

#left-nav {
    left: 75px;
    background-color: rgb(230,230,250);
}


#right-nav {
    left: 170px;
    background-color: rgb(178,190,181);
}

#right-nav:hover {
    background-color: rgba(230,230,250,0.4);
    box-shadow: 0 0 10px 0 rgba(0,0,0);
}

#left-nav:hover {
    background-color: rgba(230,230,250,0.4);
    box-shadow: 0 0 10px 0 rgba(0,0,0);
}

.navigator {
    position: absolute;
    bottom: 50px;
    
    width: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 20px 15px;
    font-size: 35px;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
}



/* .about-page {
    /* margin: 40px auto 0;
    /* background: #E6E6FA; */
    /* background-size: cover;
    width: 97%;
    height: 970px;
    border-radius: 30px; */ 

.about-page {
    margin: 70px 0;
}

.about-container {
    margin: 0 auto;
    background-color: #E6E6FA;
    background-size: cover;
    width: 97%;
    height: 850px;
    border-radius: 30px;
}